<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BookApp - Book Detail</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="index.html">BookApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="browse.html">Browse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="wishlist.html">Wishlist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="profile.html">Profile</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="library.html">Library</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="login.html">Login</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="about.html">About</a>
        </li> -->
        <!-- Add links to other pages here -->
      </ul>
    </div>
  </nav>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-4 mb-4">
        <img src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1381935791i/18682641.jpg" class="img-fluid" alt="Book Cover">
      </div>
      <div class="col-md-8 mb-4">
        <h2 class="mb-3 ">Running: The Autobiography</h2>
        <p class="lead">Author: Ronnie O'Sullivan</p>
        <p class="lead">Genre: Sports</p>
        <p class="lead">Published: April 10, 2014</p>
        <p class="lead">Description:</p>
        <p>World Snooker Champion Ronnie O'Sullivan's frank and honest account of his astonishingly dramatic life.

          I used to rely on drugs and alcohol to keep me going, but now I've got the healthiest addiction going - running.
          
          This book explains how running has helped me to fight my demons - my addictive personality, depression, my dad's murder conviction, the painful break-up with the mother of my children - and allowed me to win five World Snooker Championships.</p>
        <a href="#" class="btn btn-primary">Add to Library</a>
      </div>
    </div>
  </div>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
