<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BookApp - Book Detail</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="index.html">BookApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Browse.html">Browse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="wishlist.html">Wishlist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="profile.html">Profile</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="library.html">Library</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="login.html">Login</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="about.html">About</a>
        </li> -->
        <!-- Add links to other pages here -->
      </ul>
    </div>
  </nav>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-4 mb-4">
        <img src="https://th.bing.com/th/id/OIP.HimaFRKFJ2k3TMsRJzVPYgHaL8?rs=1&pid=ImgDetMain" class="img-fluid" alt="Book Cover">
      </div>
      <div class="col-md-8 mb-4">
        <h2 class="mb-3">The Agony and the Ecstasy</h2>
        <p class="lead">Author: Irving Stone</p>
        <p class="lead">Genre: Historical novel</p>
        <p class="lead">Published: March 17, 1961</p>
        <p class="lead">Description:</p>
        <p>The Agony and the Ecstasy (1961) is a biographical novel of Michelangelo Buonarroti written by American author Irving Stone. Stone lived in Italy for years visiting many of the locations in Rome and Florence, worked in marble quarries, and apprenticed himself to a marble sculptor.</p>
        <a href="#" class="btn btn-primary">Add to Library</a>
      </div>
    </div>
  </div>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
