@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to my BookApp</h1>
        <p class="lead">Discover and share your favorite books with others.</p>
        <hr class="my-4">
        <p>Feel free to contribute!</p>
        <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Books" asp-action="Search">Browse Books</a>
    </div>
</div>