<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BookApp - Home</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="index.html">BookApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="browse.html">Browse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="wishlist.html">Wishlist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="profile.html">Profile</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="library.html">Library</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="login.html">Login</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="about.html">About</a>
        </li> -->
        <!-- Add links to other pages here -->
      </ul>
    </div>
  </nav>

  <div class="container mt-5">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to my BookApp</h1>
      <p class="lead">Discover and share your favorite books with others.</p>
      <hr class="my-4">
      <p>Feel free to contribute!</p>
      <a class="btn btn-primary btn-lg" href="browse.html" role="button">Browse Books</a>
    </div>
  </div>
  <!-- <div class="bg-image" style="background-image: url('https://th.bing.com/th/id/R.3559875f2f27979aed146ff438ae72f7?rik=sQMSmIfxK05kZA&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2fe%2f2%2fc%2f165907.jpg&ehk=N7zplciv61IuAEjujEGoXCY%2bRekZ09PLytL%2bnx2hNic%3d&risl=&pid=ImgRaw&r=0'); height: 100vh;"></div> -->
</body>
</html>
